<form name="profileForm" novalidate autocomplete="off">
    <!--
    <div class="form-group">
        <label>Token</label>
        <p class="form-control-static" ng-bind="models.token"></p>
    </div>
    -->
    <div class="form-group" ng-if="models.anterior">
        <label>Formando anterior</label>
        <p class="form-control-static" ng-bind="models.anterior"></p>
    </div>
    <div class="form-group" ng-class="{'has-error': profileForm.nome.$invalid}">
        <label>Nome completo <span class="text-danger">(corrija se estiver incorreto ou abreviado)</span></label>
        <input class="form-control" ng-model="dto.nome" required placeholder="{{::dto.nome}}" name="nome">
    </div>
    <!--
    <div class="form-group" ng-class="{'has-error': profileForm.email.$invalid}">
        <label>E-mail acad (para validação)</label>
        <input class="form-control" type="email" ng-model="dto.email" name="email" required>
    </div>
    -->
    <div class="form-group" ng-class="{'has-error': profileForm.proximo.$invalid}">
        <label>Próximo formando <span class="text-danger">(não usar as setas)</span></label>
        <select class="form-control" ng-model="dto.proximo" ng-options="p.id as p.nome for p in models.proximos|orderBy:'nome'" required name="proximo" ng-keydown="blockArrows($event)"></select>
    </div>
    <button type="submit" ng-disabled="profileForm.$invalid || models.submitDisabled" class="btn btn-primary btn-lg" ng-click="send()">Enviar</button>
</form>